LoveTextPanel {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    justify-content: center;
    align-items: center;

    .BG {
        background-color: rgba(#333, 0.4);
	    backdrop-filter: blur(20px);
        border-radius: 10px;
        padding: 5px;
        flex-direction: column;

        .Love {
            font-size: 50px;
            color: red;
        }
    }
}