Ammo {
    position: absolute;
    background: linear-gradient(to left, rgba(#333, 0.5), rgba(#333, 0.0));
    right: 10px;
    bottom: 10px;
    height: 45px;
    width: 250px;
    padding: 5px;
    align-items: center;
    border-radius: 10px;

    .Clip {
        position: absolute;
        right: 0px;
        padding: 40px;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px 1px black;
        color: white;
    }

    .AmmoText {
        top: 13px;
        font-size: 15px;
    }
}